.canvasContainer {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.reactFlow {
  width: 100%;
  height: 100%;
}

.minimap {
  background-color: #fff;
  border: 1px solid #ccc;
}
